* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Secular One', sans-serif; }

html {
  scroll-behavior: smooth; }

.hipervinculo {
  height: 80px;
  background-color: #BFD2D2; }

.contenedorNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: end;
  height: 80px;
  width: 100%;
  background-color: #C8BFD2;
  box-shadow: 25px 15px 20px rgba(0, 0, 0, 0.568);
  position: fixed;
  z-index: 998 !important; }
  .contenedorNav .itemNav {
    margin: 7px;
    width: 100px;
    border-radius: 5%; }
    .contenedorNav .itemNav a {
      text-decoration: none;
      font-size: 22px;
      color: #00000073; }
    .contenedorNav .itemNav span {
      margin: 5px;
      width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%; }
    .contenedorNav .itemNav p {
      display: flex;
      flex-direction: row;
      justify-content: center;
      opacity: 0; }
  .contenedorNav .itemNav:hover span {
    transition: .5s;
    translate: 0px -150px; }
  .contenedorNav .itemNav:hover p {
    opacity: 1; }

.conteiner {
  display: grid;
  grid-column: auto;
  grid-template-areas: "img tx";
  align-items: center;
  background-color: #d2bfbf85; }

.cont-img {
  grid-area: "img";
  margin-top: 105px;
  width: 25vw;
  margin-left: 15%;
  z-index: 0 !important; }
  .cont-img img {
    width: 100%; }

.cont-p {
  grid-area: "tx";
  margin-top: 25px;
  width: 25vw; }
  .cont-p p {
    font-family: 'Secular One';
    font-size: 26px;
    color: black; }

.Cont-Card {
  background-color: #C8D2BF; }

.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 3rem; }
  .container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
    .container .card img {
      width: 100%; }
    .container .card h4 {
      font-weight: 600; }
    .container .card p {
      margin-top: .7rem;
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
    .container .card .imgauto {
      margin-top: .85rem;
      width: 65%; }
  .container .container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

#textFilter {
  margin-top: 2rem; }

.ContFiltro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px; }
  .ContFiltro .filtronone {
    display: none; }
  .ContFiltro .filterview {
    display: inline; }
  .ContFiltro .titulo-filter {
    font-size: 22px;
    font-family: 'Roboto Slab';
    margin-right: 25px;
    margin-bottom: 35px; }
  .ContFiltro .titulo {
    font-size: 28px;
    font-family: 'Roboto Slab';
    display: flex;
    width: 150px;
    justify-items: center;
    align-content: center;
    cursor: pointer; }
  .ContFiltro ul {
    list-style: none; }
  .ContFiltro li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 5px;
    width: 250px;
    height: 35px;
    border: 0.25px solid rgba(59, 59, 59, 0.13);
    border-radius: 15px;
    box-shadow: 0.5px 3px rgba(0, 0, 0, 0.336); }
  .ContFiltro li span {
    text-decoration: none;
    padding: 10px;
    cursor: pointer; }

.form {
  background-color: #BFD2D2;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form .cerrarform {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center; }
  .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab';
    font-size: 18px; }
    .form form label {
      margin: 5px; }
      .form form label span {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px; }
    .form form input {
      height: 3rem;
      width: 250px;
      font-size: 18px;
      border: 0.25px solid #444343;
      border-radius: 8px; }
      .form form input .btncontinuar {
        height: 25px;
        width: 255px;
        font-size: 22px;
        border: 0.25px solid #444343;
        border-radius: 8px;
        margin-top: 10px;
        background-color: #008CBA;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 3rem; }
      .form form input .btncontinuar:hover {
        background-color: #00ba8f;
        cursor: pointer; }
    .form form select {
      height: 3rem;
      width: 255px;
      font-size: 18px;
      border: 0.25px solid #444343;
      border-radius: 8px; }
    .form form select:focus {
      border: 0.25px solid #444343;
      box-shadow: 0 8px 16px 0 #82b4c577, 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .form form input[type=number]::-webkit-inner-spin-button,
    .form form input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .form form input::placeholder {
      padding: 5px; }
    .form form input:focus {
      border: 0.25px solid #444343;
      box-shadow: 0 8px 16px 0 #82b4c577, 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.btncontinuar {
  height: 25px;
  width: 255px;
  font-size: 22px;
  border: 0.25px solid #444343;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #008CBA;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 3rem; }

.btncontinuar:hover {
  background-color: #00ba8f;
  cursor: pointer; }

.conteinerCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: .5rem;
  margin-left: .5rem; }
  .conteinerCard .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 400px;
    border: 0.2px solid #d2bfbf85;
    border-radius: .5rem;
    margin-right: .5rem;
    margin-left: .5rem; }
    .conteinerCard .cards .imgCard {
      width: 72%; }
      .conteinerCard .cards .imgCard img {
        width: 100%; }
    .conteinerCard .cards .txtCard p {
      margin-left: .75rem; }
    .conteinerCard .cards .valor {
      font-size: 22px; }

.cards:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.view {
  display: inline !important; }

.noneview {
  display: none !important; }

.Error {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: rgba(255, 0, 0, 0.747); }

.ErrorInput {
  box-shadow: rgba(255, 0, 0, 0.747) 1px 0 7px; }

.element-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 10px; }
  .element-filter div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 3rem;
    width: 18rem; }

.window-notice {
  background: rgba(33, 41, 52, 0.85);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  position: fixed;
  z-index: 999; }
  .window-notice .content {
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, 0.75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    border-radius: 15px; }
    .window-notice .content .btnwindows {
      font-size: 1em;
      cursor: pointer;
      margin-top: 2em;
      margin-right: .75em;
      height: 2em;
      width: 6em;
      background-color: #008CBA;
      border: .01em solid black;
      border-radius: .4em; }
    .window-notice .content .btnwindows-si:hover {
      background-color: #00ba8f; }
    .window-notice .content .btnwindows-no:hover {
      background-color: #ba0000; }
    .window-notice .content .content-text p {
      text-align: center; }

.form .form1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto Slab';
  font-size: 18px; }
  .form .form1 input {
    text-align: center; }
  .form .form1 select {
    text-align: center; }

.hipervinculo1 {
  height: 150px;
  background-color: #BFD2D2; }
